body
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: #404040;
}
.wrapper
{
    width: 1600px;
    height: 900px;
    margin: 0 auto;
}
.logo
{
    width: auto;
    height: auto;
    margin: 25px auto;
    padding: 40px 0;
    text-align: center;
}
.menu
{
    width: 95%;
    height: auto;
    padding: 7px 5px;
    background-color: #dddddd;
    color: #202020;
    position: sticky;
    top: 0;
    border-radius: 5px;
}
ol
{
    width: 90%;
    margin: auto;
    padding: 5px 20px;
    list-style-type: none;
    display: block;
}
li
{
    width: 15%;
    margin: 0 28px;
    float: left;
    text-align: center;
}
li a
{
    color: #202020;
    text-decoration: none;
}
li a:hover
{
    color: #202020;
    font-weight: bold;
    text-decoration: none;
}
.kontener
{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.main
{
    width: 70%;
    height: 1200px;
    background-color: #0056b3;
    float: left;
}
.right
{
    width: 25%;
    margin-left: 50px;
    height: auto;
    background-color: #0b2e13;
    float: left;
}
.logowanie
{
    margin: 35px auto;
    width: 85%;
    height: 300px;
    background-color: #d1ecf1;
    border-radius: 5px;
}
.input
{
    width: 80%;
    height: auto;
    margin: 12px 10%;
    text-align: center;
}
.input:first-child
{
    margin-top: 50px;
}
.txt
{
    width: auto;
    height: auto;
    text-align: center;
}
.ranking
{
    margin: 50px auto;
    width: 85%;
    height: auto;
    background-color: #d1ecf1;
    border-radius: 5px;
    display: block;
}
.rankighead
{
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: #1c7430;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
.pozrank
{
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
}
.article
{
    margin: 45px auto;
    width: 80%;
    height: 400px;
    background-color: white;
}
.img
{
    background-color: red;
    width: 100%;
    height: 70px;
}